# Below is a list of summer2021internship team members who are suggested reviewers
# for contributions to this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

City\ Of\ Boston/ @rishabnayak
Police\ Arrest\ Analysis/ @rishabnayak
State\ Surplus/ @rishabnayak
.github/ @rishabnayak
.gitignore @rishabnayak
AUTHORS @rishabnayak
CODEOWNERS @rishabnayak
COLLABORATORS @rishabnayak
