main {
  min-height: 80vh;
}

.bottomBanner {
  background-color: #19578d;
  color: #fff;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 5%;
  padding-bottom: 3%;

  margin: 3%;
}

.bottomBanner h4 {
  color: #fff;
}

.bottomBanner h5 {
  color: #fff;
  font-size: 0.8rem;
  margin-top: 3%;
  margin-bottom: 3%;
}

.banner {
  background-color: #19578d;
  color: #fff;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 5%;
  padding-bottom: 3%;
}

.banner a {
  color: #fff;
}

.banner h4 {
  color: #fff;
}

.banner h5 {
  color: #fff;
  font-size: 0.8rem;
  margin-top: 3%;
  margin-bottom: 3%;
}

.banner h1 {
  color: #fff;
  padding-top: 3%;
}

.myFontColorBlue {
  color: #19578d;
}

.vl {
  border-right: 1px #a6b1b1 solid;
  height: 200px;
}

.footer {
  background-color: #f2f2f2;
  padding-top: 1%;
}

.myContact {
  float: right;
}

h6 {
  color: #a6b1b1;
}

.yellowLineSize {
  height: 80px;
  width: 100px;
}

.assessScreenText {
  width: 250px;
}

.yellowLine {
  border-right: #f4c346 solid;
  width: 20%;
}

.yellowBtn {
  background-color: #f4c346;
}

.w3-border-black,
.w3-hover-border-black:hover {
  border-color: #000 !important;
}
.w3-margin-top {
  margin-top: 16px !important;
}
.w3-border {
  border: 1px solid #ccc !important;
}
.w3-container,
.w3-panel {
  padding: 0.01em 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.containers {
  display: inline-block;
  width: 200px;
  min-height: 100px;
  background: #fff;
  border-width: 2px;
  border-color: #19578d;
  border-style: solid;
  padding: 10px;
  margin-left: 100px;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 3%;
  padding-left: 3%;
}

.topBanner {
  position: relative;
  text-align: left;
  color: white;
  top: 0;
  left: 0;
}

.topBanner .description {
  position: absolute;
  top: 70%;
  left: 35%;
  transform: translate(-50%, -50%);
  padding-right: 20%;
  font-size: 1.5rem;
}

#largeContainer {
  width: 202px;
}

.image1 {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  margin-top: 0;
}
.image2 {
  position: absolute;
  top: 25%;
  left: 3%;
  width: 30%;
  height: auto;
}

.container {
  max-width: 100%;
  padding-left: 0;
}
.middleBanner {
  margin-top: 3%;
  margin-left: 3%;
}

.middleBanner h4 {
  padding-top: 3%;
  color: #19578d;
}

.middleBanner h3 {
  color: #19578d;
}

.leftBox {
  border-bottom: 5px solid #ccc;
  border-right: 5px solid #ccc;
}

.rightBox {
  border-bottom: 5px solid #ccc;
}

.bottomBox {
  border-right: 5px solid #ccc;
}
