/* BREADCRUMB STYLING */

/* change breadcrumb margins */
.breadcrumb1 {
  margin-top: 30px;
  margin-bottom: -20px;
}

/* HORIZONTAL DIVIDER STYLING */

hr.divider {
  margin-bottom: 30px;
  border-width: 2px;
}

hr.divider2 {
  margin-top: 30px;
  border-width: 2px;
}

/* WEBSITE TEXT STYLING */

i.i {
  font-size: 18px;
  font-weight: bold;
}

/* title text */
.h1 {
  width: 333px;
  margin-top: 20px;
  height: 55px;
  font-weight: 900;
  text-transform: none;
  font-family: Roboto;
  font-size: 40px;
  line-height: 63px;
  color: #19578d;
}

.h2 {
  font-size: 28px;
  text-transform: none;
  color: #19578d !important;
}

.definitionHeader {
  margin-top: 35px;
  margin-bottom: 35px;
}

.definition {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #323232;
}

/* ACCORDION STYLING */

/* question text style */
p.question {
  font-family: Roboto;
  color: #144d7e;
  font-size: 23px;
  font-weight: bold !important;
  line-height: 28px;
}

/* question headers */
.h5 {
  text-transform: none;
  color: #606263;
}

.accordionHeader {
  width: 100% !important;
  border-style: "solid";
  padding-right: 40px;
}

/* accordion div style */
.accordionElement {
  width: 100%;
  margin: auto;
  border: 1px solid #19578d;
  margin-bottom: 35px;
  padding-right: 40px;
}

.accordion-item {
  border-right: 0;
}

/* RADIO BUTTON STYLING */

.yesButton {
  border: 2px solid #e5e5e5;
  width: 250px;
  margin-right: 50px;
  padding-left: 10px;
}

.noButton {
  border: 2px solid #e5e5e5;
  width: 250px;
  margin-right: 50px;
  padding-left: 10px;
}

.idkButton {
  border: 2px solid #e5e5e5;
  width: 250px;
  padding-left: 10px;
}

.button {
  padding-left: 1207px;
  padding-bottom: 80px;
}
