/* change breadcrumb colour */
.breadcrumb1 {
   margin-top: 30px;
   margin-bottom: -20px;
}

hr.divider {
  margin-bottom:30px;
  border-width: 2px;
}

hr.divider2 {
  margin-top: 30px;
  border-width: 2px;
}

i.i {
  font-size: 18px;
  font-weight: bold;
}

/* title text */
.h1 {
  width: 333px;
  margin-top: 20px;
  height: 55px;
  font-weight: 900;
  text-transform: none;
  font-family: Roboto;
  font-size: 40px;
  line-height: 63px;
  color: #19578d;
}

.h2 {
  font-size: 28px;
  text-transform: none;
  color: #19578d;
}

.definitionHeader {
  margin-top: 35px;
  margin-bottom: 35px;
}

.definition {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* question text style */
p.question {
  font-family: Roboto;
  color: #144d7e;
  font-size: 17px;
  font-weight: bold;
  line-height: 28px;
}

.accordion {
  width: 100%;
  border-color: #19578d;
}

/* accordion div style */
.accordionElement {
  width: 850px;
  margin: auto;
  border: 1px solid #19578d;
}
