
.cardOuterBody{
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 0%;
    border-style: solid; 
    border-color: rgba(20,77,126,0.51);
    width: 65%;
    padding-right: auto;
}

.cardBody{
    border-style: solid; 
    border-color: rgba(20,77,126,0.51);
    width: 90%;
    margin-right: 3%;
    margin-left: 3%;
    padding-right: 4%;
    margin-top: 3%;
}

.cardBodyBottom{
    border-style: solid; 
    border-color: rgba(20,77,126,0.51);
    width: 90%;
    margin-right: 3%;
    margin-left: 3%;
    padding-right: 4%;
    margin-top: 3%;
    margin-bottom: 3%;
}

/* MOBILE FRIENDLY */
@media only screen and (max-width: 600px) {
    .middleBanner{
        margin-left: 1%;
    }
    .cardOuterBody{
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 0%;
        border-style: solid; 
        border-color: rgba(20,77,126,0.51);
        width: 80%;
        padding-right: 13%;
    }
    
    .cardBody{
        border-style: solid; 
        border-color: rgba(20,77,126,0.51);
        width: 90%;
        margin-right: 3%;
        margin-left: 3%;
        padding-right: 20%;
        margin-top: 3%;
    }
    
    .cardBodyBottom{
        border-style: solid; 
        border-color: rgba(20,77,126,0.51);
        width: 90%;
        margin-right: 3%;
        margin-left: 3%;
        padding-right: 20%;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    
  }